:root{
    --tarjetas-color: darkgrey;
    --margin-for-aside: 39.8vh;
    font-size: 15px;
}
.carousel {
    display:none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0;
    position: absolute;
}
.button-left, .button-right {cursor:pointer}
.button-right, .button-left{ 
  position: absolute;
  top: 0;
  width: 20vw;
  height: var(--asside-height);
  color: white;
  border: 0;
  font-size: xx-large;
  background: rgb(0,0,0);   
 }

.button-right{
  right:0; 
  text-align: end;
  background: linear-gradient(
    90deg
    ,rgba(0,0,0,0) 0%, rgb(43, 29, 175) 100%);
}
.button-left{
  left: 0;
  text-align: start; 
  background: linear-gradient(
  90deg
  ,rgb(43, 29, 175) 0%, rgba(0,0,0,0) 100%);
}
aside{
 overflow: hidden;
    --border-size: 0px;
    --margin: 1rem;
    --asside-height: calc(var(--margin-for-aside) - var(--margin));
    display: block;
    text-align: center;
    line-height: var(--asside-height);
    height: var(--asside-height);
    margin-top: calc(var(--main-header-margin-top) + var(--main-header-padding)*2 + var(--main-header-text-size) + var(--margin)/2 + 9vh);
    margin-right: 0.2rem;
    margin-left: 0.2rem;
    width: 100%;
    text-align: center;
    left: 0;
}