button.PAW-Menu-Abrir,button.PAW-MenuCerrar  {
	display: none;
}
@media (max-width: 768px) {
	.PAW-Menu {
		background-color: #086D84;
		color: white;
		width: 3rem;
	
		/* border-right: 3px solid black; */
		overflow: hidden;
	}
	
	.PAW-Menu.PAW-MenuCerrado {
		width: 0;
		height: 100%;
		transition-duration: 1s;
		transition-property: width;
		position: absolute;
		z-index: 1;
	}
	
	.PAW-Menu.PAW-MenuCerrado ul {
		opacity: 0;
		transition: 1s all;
	}
	
	.PAW-Menu.PAW-MenuAbierto {
		
		width: 100%;
		height: 100%;
		transition-duration: 1s;
		transition-property: width;
		position: absolute;
		z-index: 1;
		
	}
	.PAW-Menu.PAW-MenuAbierto ul {
		opacity: 1;
		transition: 1s all;
	}
	
	.PAW-Menu ul {
		background-color: var(--navegation-color);
		padding-left: 2rem;
		cursor: pointer;
		clear: both;
	}
	
	.PAW-Menu ul li ul {
		max-height: 0;
		overflow: hidden;
		transition: 1s all;
	}
	
	.PAW-Menu ul li:hover ul {
		max-height: 100vh;
		transition: 1s all;
	}
	
	.PAW-Menu ul li {
		display: block;
		padding: 0.5rem;
	}
	
	.PAW-Menu p {
		display: block;
		padding: 0.5rem;
		border-bottom: 2ps solid black;
	}
	
	.PAW-Menu > ul > li:hover {
		border: black solid 3px;
		border-width: 3px 0;
	}
	
	.PAW-Menu > ul > li {
		background-color: var(--navegation-color);
	}
	/*agregado*/
	button.PAW-Menu-Abrir {
		display: block;
		float: right;
		border: 0;
		width: 2rem;
		height: 2rem;
		margin: 0.5rem;
		padding: 0;
		cursor: pointer;
		background-color: transparent;
		position: relative;
		overflow: hidden;
		top: 20%;
	}
	
	button.PAW-Menu-Abrir:hover,
	button.PAW-Menu-Abrir:focus {
		margin-right: 0;
	}
	
	button.PAW-Menu-Abrir::before,
	button.PAW-Menu-Abrir::after {
		display: block;
		position: absolute;
		content: " ";
		width: 2rem;
		height: 0.2rem;
		background-color: white;
		transition-property: all;
		transition-duration: 1s;
		border-radius: 0.2rem;
	}
	button.PAW-Menu-Abrir::before {
		transform: translateY(-1rem) rotate(0);
		box-shadow: 0 0.6rem 0 white;
	}
	button.PAW-Menu-Abrir::after {
		transform: translateY(0.2rem) rotate(0);
	}
	
	.PAW-Menu button.PAW-MenuCerrar::before {
		transform: translateY(0) rotate(45deg);
		box-shadow: 0 0.6rem 0 transparent;
	}
	
	.PAW-Menu button.PAW-MenuCerrar::after {
		transform: translateY(0) rotate(-45deg);
	}
	
	.PAW-Menu-Oculto{
		display: none;
	}
	button.PAW-MenuCerrar  {
		display: block;
	}
	/* Funcionalidad Botón Hamburguesa */
	.PAW-Menu button {
		float: left;
		border: 0;
		width: 2rem;
		height: 2rem;
		margin: 0.5rem;
		padding: 0;
		cursor: pointer;
		background-color: transparent;
		position: relative;
		overflow: hidden;
	}
	
	.PAW-Menu button:hover,
	.PAW-Menu button:focus {
		margin-right: 0;
	}
	
	.PAW-Menu button::before,
	.PAW-Menu button::after {
		display: block;
		position: absolute;
		content: " ";
		width: 2rem;
		height: 0.2rem;
		background-color: white;
		transition-property: all;
		transition-duration: 1s;
		border-radius: 0.2rem;
	}
	.PAW-Menu button.PAW-MenuAbrir::before {
		transform: translateY(-1rem) rotate(0);
		box-shadow: 0 0.6rem 0 white;
	}
	.PAW-Menu button.PAW-MenuAbrir::after {
		transform: translateY(0.2rem) rotate(0);
	}
	
	.PAW-Menu button.PAW-MenuCerrar::before {
		transform: translateY(0) rotate(45deg);
		box-shadow: 0 0.6rem 0 transparent;
	}
	
	.PAW-Menu button.PAW-MenuCerrar::after {
		transform: translateY(0) rotate(-45deg);
	}
	nav{

		float: right;
	}
	
}