<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Nombre de la institución</title>
    </head>
    <body>
        <header>
            <!-- Logo -->
            <img src="" alt="" width="" height="">
            <address>Av. Corrientes 123 <small>Teléfono: 555-555-555</small><address>
            <h1>Nombre de la institución</h1>
        </header>
        <main>
            <nav>
                <ul>
                    <li><a href="/home.html">Home</a></li>
                    <li><a href="/institucional.html">Institucional</a></li>
                    <li><a href="/noticias.html">Noticias</a></li>
                    <li><a href="/obrasSociales.html">Obras sociales</a></li>
                    <li><a href="/profesionales.html">Profesionales</a></li>
                    <li><a href="">Turnos</a>
                        <ul>
                            <li><a href="/nuevoTurno.html">Sacar un turno</a></li></li>
                            <li><a href="/listaTurnos.html">Listados de turnos solicitados</a></li>
                        </ul>                    
                </ul>
            </nav>
            </nav>
            <!-- Agregar imagen de casita-->
            <a href="/index.html"></a>
            <!-- Agregar parte no genérica acá abajo-->

        </main>
        <footer>
            <small>Contáctese con nosotros</small>
            <small>Legal</small>
        </footer>
    </body>
</html>