<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Clinical</title>
</head>
<body>
<header>
    <!-- Logo -->
    <img src="" alt="" width="" height="">
    <address>Av. Corrientes 123 <small>Teléfono: 555-555-555</small></address>
    <h1>Clinical</h1>
</header>
<main>
    <nav>
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="institucional.html">Institucional</a></li>
            <li><a href="noticias.html">Noticias</a></li>
            <li><a href="obrasSociales.html">Obras sociales</a></li>
            <li><a href="profesionales.html">Profesionales</a></li>
            <li><a href="">Turnos</a>
                <ul>
                    <li><a href="nuevoTurno.html">Sacar un turno</a></li>
                    <li><a href="listaTurnos.html">Listados de turnos solicitados</a></li>
                </ul>
        </ul>
    </nav>
    <!-- Agregar imagen de casita-->
    <a href="home.html"></a>
            <!-- Agregar parte no genérica acá abajo-->
            <section>
                <h2>Noticias</h2>
                <section>
                    <h3>Vacunación COVID 19</h3>
                    <p>La vacunación se llevará a cabo en etapas de acuerdo a los grupos establecidos y se realizará en forma gratuita, equitativa y voluntaria.
                        <a href=""> Ver +</a>
                    </p>
                </section>
                <section>
                    <h3>Vacunación COVID 19</h3>
                    <p>La vacunación se llevará a cabo en etapas de acuerdo a los grupos establecidos y se realizará en forma gratuita, equitativa y voluntaria.
                        <a href=""> Ver +</a>
                    </p>
                </section>
                <section>
                    <h3>Vacunación COVID 19</h3>
                    <p>La vacunación se llevará a cabo en etapas de acuerdo a los grupos establecidos y se realizará en forma gratuita, equitativa y voluntaria.
                        <a href=""> Ver +</a>
                    </p>
                </section>
            </section>
            <section>
                <h2>Turnos</h2>
                <a href="">Solicitar Turno</a>
                <a href="">Consultar Turno</a>
            </section>
            <section>
                <h2>Institución</h2>
                <p> Av. Corrientes 123
                    Teléfono: 555-555-555
                    Buenos Aires
                </p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.6961681022844!2d-58.41029358481432!3d-34.586553680463986!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca82f25717f3%3A0xfd421006c97049e3!2sCl%C3%ADnica%20del%20Sol!5e0!3m2!1ses-419!2sar!4v1619047530733!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </section>
        </main>
        <footer>
            <small>Contáctese con nosotros</small>
            <small>Legal</small>
        </footer>
    </body>
</html>