<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Obras sociales</title>
    <link rel="stylesheet" type="text/css" href="/resources/css/main.css" />
</head>
<body>
<header>
    <!-- Logo -->
    <!--    <img src="/resources/img/Logo.png" alt="Clinical" width="" height="">-->
    <a href="home.html"></a>
    <address>Av. Corrientes 123 <small>Teléfono: 555-555-555</small></address>
    <h1>Clinical</h1>
</header>
<main>
    <nav>
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="institucional.html">Institucional</a></li>
            <li><a href="noticias.html">Noticias</a></li>
            <li><a href="obrasSociales.html">Obras sociales</a></li>
            <li><a href="profesionales.html">Profesionales</a></li>
            <li class="sub-menu-turno">Turnos
                <ul>
                    <li><a href="nuevoTurno.html">Sacar un turno</a></li>
                    <li><a href="listaTurnos.html">Listados de turnos solicitados</a></li>
                </ul>
        </ul>
    </nav>
    <!-- Agregar imagen de casita-->
    <a href="home.html"></a>
            <!-- Agregar parte no genérica acá abajo-->
            <section>
                <h2>Obras sociales</h2>
                <section>
                    <h3>IOMA</h3>
                    <p>Descripción, cobertura</p>
                </section>
                <section>
                    <h3>Nombre obra social</h3>
                    <p>Descripción, cobertura</p>
                </section>
            </section>
        </main>
        <footer>
            <small>Contáctese con nosotros</small>
            <small>Legal</small>
        </footer>
    </body>
</html>