<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Profecionales</title>
    </head>
    <body>
        <header>
            <!-- Logo -->
            <img src="" alt="" width="" height="">
            <address>Calle falsa 123 <small>Teléfono: 555-555-555</small><address>
            <h1>Nombre de la institución</h1>
        </header>
        <main>
            <nav>
                <ul>
                    <li><a href="/institucional.html">Institucional</a></li>
                    <li><a href="/noticias.html">Noticias</a></li>
                    <li><a href="/obrasSociales.html">Obras sociales</a></li>
                    <li><a href="/profesionales.html">Profesionales</a></li>
                    <li><a href="/nuevoTurno.html">Sacar un turno</a></li>
                    <li><a href="/listaTurnos.html">Listados de turnos solicitados</a></li>
                </ul>
            </nav>
            <!-- Agregar imagen de casita-->
            <a href="/index.html"></a>
            <!-- Agregar parte no genérica acá abajo-->
            <section>
                <h2>Profesionales</h2>
                <section>
                    <h3>Carlos</h3>
                    <small>Terapeuta.</small>
                    <p>Lunes, miercoles, viernes. Horario de atención: 8:00 - 13:00</p>
                </section>
                <section>
                    <h3>Juan</h3>
                    <small>Especialidad.</small>
                    <p>Días que trabaja, horario</p>
                </section>
            </section>
        </main>
        <footer>
            <small>Contáctese con nosotros</small>
            <small>Legal</small>
        </footer>
    </body>
</html>