<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Profesionales</title>
    <link rel="stylesheet" type="text/css" href="/resources/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/resources/css/profesionales.css" />
</head>
<body>
<header>
    <!-- Logo -->
    <!--    <img src="/resources/img/Logo.png" alt="Clinical" width="" height="">-->
    <a href="home.html"></a>
    <address>Av. Corrientes 123 <small>Teléfono: 555-555-555</small></address>
    <h1>Clinical</h1>
</header>
<main>
    <nav>
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="institucional.html">Institucional</a></li>
            <li><a href="noticias.html">Noticias</a></li>
            <li><a href="obrasSociales.html">Obras sociales</a></li>
            <li><a href="profesionales.html">Profesionales</a></li>
            <li class="sub-menu-turno">Turnos
                <ul>
                    <li><a href="nuevoTurno.html">Sacar un turno</a></li>
                    <li><a href="listaTurnos.html">Listados de turnos solicitados</a></li>
                </ul>
        </ul>
    </nav>
    <!-- Agregar imagen de casita-->
    <a href="home.html"></a>
            <!-- Agregar parte no genérica acá abajo-->
            <section>
                <h2>Profesionales</h2>
                <section>
                    <h3>Carlos</h3>
                    <small>Terapeuta.</small>
                    <ul>
                        <li><a>L</a></li>
                        <li><a>M</a></li>
                        <li><a>M</a></li>
                        <li><a>J</a></li>
                        <li><a>V</a></li>
                        <li><a>S</a></li>
                        <li><a>D</a></li>
                    </ul>
                    <p>Horario de atención: 8:00 - 13:00</p>
                    <p>Descripción</p>
                    <img src="/resources/img/Carlos.png" alt="Carlos">
                    <button>Pedir turno</button>
                </section>
                <section>
                    <h3>Juan</h3>
                    <small>Especialidad.</small>
                    <ul>
                        <li><a>L</a></li>
                        <li><a>M</a></li>
                        <li><a>M</a></li>
                        <li><a>J</a></li>
                        <li><a>V</a></li>
                        <li><a>S</a></li>
                        <li><a>D</a></li>
                    </ul>
                    <p>Horario de atención: 8:00 - 13:00</p>
                    <p>Descripción</p>
                    <img src="/resources/img/Carlos.png" alt="Juan">
                    <button>Pedir turno</button>
                </section>
            </section>
        </main>
        <footer>
            <small>Contáctese con nosotros</small>
            <small>Legal</small>
        </footer>
    </body>
</html>