main>section {
    border-width: medium;
    background-color: white;
    background-clip: content-box;
    box-shadow: inset 0 0 0 5vw white;
    padding: 5vw;
    border-radius: 10vw;
    position: relative;
}

main>section>h2 {
    width: 100%;
    background: var(--base-color);
    text-align: center;
}

main>section h3 {
    width: 100%;
    /*background: var(--base-color);*/
    text-align: center;
}

main > section > table {
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 100%;
    text-align: left;
    padding: 10vh 6vw;
}
main>section> table >tbody> tr:nth-child(even) {
    background: #D0E4F5;
}

main>section>form {
    padding: 4vw 10vw;
    position: relative;
    background: var(--base-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

main>section>form button:hover {
    background-color: var(--button-active-color);
}

main>section>form button {
    width: 25%;
    height: 6vh;
    background-color: var(--button-hover-color);
    padding: var(--font-size);
    border: none;
    border-radius: 42px;
    margin-top: 4vh;
}

table a {
    background: red;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

table a:hover {
    background: darkred;
}

table button {
    border: none;
    background: var(--button-sucess-color);
    cursor: pointer;
}

table button:hover {
    background: var(--button-sucess-color-hover);
}
/*

.hidden_modal {
    display: none;
}

.modal {
    position: absolute;
    top: 0;
    left: 12.5vw;
    height: 50vh;
    width: 50vw;
    align-items: center;
}

.close_modal {
    position: absolute;
    top: 0;
    right: 5vw;
    height: 30px;
    width: 30px;
    background: url("../img/UI/close-icon-13577.png");
    background-size: 30px;
    cursor: pointer;
    z-index: 1001;
}

.back_modal {
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}*/