main>section {
    border-width: medium;
    //background-color: var(--base-color);
    background-color: white;
    background-clip: content-box;
    box-shadow: inset 0 0 0 5vw white;
    padding: 1vw;
    border-radius: 10vw;
    position: relative;
}

main>section h2 {
    text-align:center;
    color: var(--base-color);
}

main>section>form {
    padding: 1vw 10vw 0;
    position: relative;
}

main>section>form>fieldset {
    padding: 3vw;
    /*display: grid;*/
    /*grid-template-columns: 30% 70%;*/
    /*grid-template-areas:*/
    /*"label input"*/
    /*"label input";*/
    /*position: relative;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

main>section>form>fieldset>label {
    display: flex;
    flex-direction: column;
    /*flex-basis: 100%;*/
    flex: 1;
}

/*main>section>form>fieldset legend {*/
/*    position: absolute;*/
/*    width: 0;*/
/*    height: 0;*/
/*    font-size: 0;*/
/*}*/
main>section>form select, main>section>form input {
    background-color: gray;
}

main>section>form input {
    width: 100%;
    min-height: 25px;
    /*background-color: var(--input-color);*/
    border-color: var(--input-color);
    color: var(--input-fonder-color);
    outline: 0;
    padding: var(--font-size);
}

main>section>form label {
    width: 100%;
    transform-origin: top left;
    transform: translate(0, 16px) scale(1);
    transition: all .1s ease-in-out;
}
main>section>form label {
     transform: translate(0, 4px) scale(.75);
 }

main>section>form select {
    width: 100%;

    /*background-color: var(--input-color);*/
    border-color: var(--input-color);
    color: var(--input-fonder-color);
}

main>section>section {
    visibility: hidden;
}

main>section>form button {
    position: absolute;
    bottom: 0;
    right: 50%;
    padding: 1vw;
    border-width: 0;
    /*width: 20%;
    height: 5%;*/
    background: var(--base-color);
}

.success {
    position: absolute;
    right: 10vw;
    background-color: var(--button-sucess-color);
}

.CalendarButton {
    position: unset;
}

.Calendar-Select {

}

.PreCalendario {
}

.CalendarModal {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: gray;
}

.abierto {
    display: block;
}

.cerrado {
    display: none;
}

.dropBox {
    position: absolute;
    width: 50vw;
    height: 50vh;
    top: 25vw;
    left: 0;
    background-color: white;
    outline: 2px dashed black;
    outline-offset: -10px;
}