{% extends "parts/commons.twig" %}

    {% block head %}
        <link rel="stylesheet" type="text/css" href="css/noticias.css" />
    {% endblock %}

{% block main %}
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="institucional">Institucional</a></li>
            <li><a href="noticias">Noticias</a></li>
            <li><a href="obrasSociales">Obras sociales</a></li>
            <li><a href="profesionales">Profesionales</a></li>
            <li><a href="nuevoTurno">Sacar un turno</a></li>
            <li><a href="listaTurnos">Listados de turnos solicitados</a></li>
        </ul>
    </nav>
    <!-- Agregar imagen de casita-->
    <a href="home"></a>
    <!-- Agregar parte no genérica acá abajo-->
    <section>
        <h2>Noticias</h2>
        <section>
            <h3>Vacunación COVID 19</h3>
            <p>La vacunación se llevará a cabo en etapas de acuerdo a los grupos establecidos y se realizará en forma gratuita, equitativa y voluntaria.
                <a href=""> Ver +</a>
            </p>
        </section>
        <section>
            <h3>Vacunación COVID 19</h3>
            <p>La vacunación se llevará a cabo en etapas de acuerdo a los grupos establecidos y se realizará en forma gratuita, equitativa y voluntaria.
                <a href=""> Ver +</a>
            </p>
        </section>
        <section>
            <h3>Vacunación COVID 19</h3>
            <p>La vacunación se llevará a cabo en etapas de acuerdo a los grupos establecidos y se realizará en forma gratuita, equitativa y voluntaria.
                <a href=""> Ver +</a>
            </p>
        </section>
        <section>
            <h3>Vacunación COVID 19</h3>
            <p>La vacunación se llevará a cabo en etapas de acuerdo a los grupos establecidos y se realizará en forma gratuita, equitativa y voluntaria.
                <a href=""> Ver +</a>
            </p>
        </section>
        <section>
            <h3>Vacunación COVID 19</h3>
            <p>La vacunación se llevará a cabo en etapas de acuerdo a los grupos establecidos y se realizará en forma gratuita, equitativa y voluntaria.
                <a href=""> Ver +</a>
            </p>
        </section>
        <section>
            <h3>Vacunación COVID 19</h3>
            <p>La vacunación se llevará a cabo en etapas de acuerdo a los grupos establecidos y se realizará en forma gratuita, equitativa y voluntaria.
                <a href=""> Ver +</a>
            </p>
        </section>
        <section>
            <h3>Vacunación COVID 19</h3>
            <p>La vacunación se llevará a cabo en etapas de acuerdo a los grupos establecidos y se realizará en forma gratuita, equitativa y voluntaria.
                <a href=""> Ver +</a>
            </p>
        </section>
    </section>
{% endblock %}