:root {
    --font-size: 10 px;
    --header-color: rgb(147, 217, 227);
    --header-widh: 15vh;
    --navegation-color: rgb(147, 167, 227);
    --navegation-widh: 15vh;
    --button-font-size: 4vh;
}

body {
    padding: 0;
}

body>header {
    background-color: var(--header-color);
    width: 100%;
    height: var(--header-widh);
    overflow: hidden;
    padding: 0;
    top: 0;
    left: 0;
    position: relative;
}

body>header>h1 {
    position: absolute;
    bottom: 0;
    left: 25vh;
    padding: 0;
}

body>header>a {
    background-image: url("/resources/img/Logo.png");
    background-size: var(--header-widh)var(--header-widh);
    display: inline-block;
    width: var(--header-widh);
    height: var(--header-widh);
}

body>header>address {
    position: absolute;
    right: 5vw;
    top: 0;
}

body>main {
    position: relative;
    /*top: 15vh;*/
    left: 0;
    width: 100%;
    height: 100vh - var(--header-widh);
    /*overflow: scroll;*/
}

body>footer {
    position: inherit;
}

main>nav {
    background-color: var(--navegation-color);
    width: 100%;
    height: var(--navegation-widh);
    overflow: hidden;
    padding: 0;
    top: 0;
    left: 0;
    /*position: absolute;*/
}
main>nav>ul {
    list-style: none;
}

main>nav>ul>li {
    display: inline;
}

main>nav a {
    text-decoration: none;
    border: none;
    font-size: var(--button-font-size);
    padding: 4vh;
    padding-inline: 1vw;
    color: black;
}

.sub-menu-turno {
    position: relative;
    height: 100%;
    width: 40%;
}

.sub-menu-turno>ul>li {
    display: inline;
}

.sub-menu-turno>ul {
    list-style: none;
    position: absolute;
    width: 50vw;
    top: 0;
}