:root {
    --font-size: 10 px;
    /*--header-color: linear-gradient(#ffffff, #83d6fd);*/
    --header-color: linear-gradient(#ffffff, #B7DCE8);
    --header-widh: 20vh;
    --logo-size: 15vh;
    --logo-size-movile: 7vh;
    --navegation-color: #5B76FF;
    --navegation-widh: 10vh;
    --button-font-size: 1.5vw;
    --base-color: #B7DCE8;
    --button-sucess-color: #7FFFD4FF;
    --input-color: #5B76FF;
    font-size: 20px;
}

body {
    padding: 0;
}

body>header {
    background: var(--header-color);
    width: 100%;
    height: var(--header-widh);
    overflow: hidden;
    padding: 0;
    top: 0;
    left: 0;
    position: relative;
}

body>header>h1 {
    position: absolute;
    bottom: 0;
    left: 25vh;
    padding: 0;
}

body>header>a {
    background-image: url("/resources/img/Logo.png");
    background-size: var(--logo-size)var(--logo-size);
    display: inline-block;
    width: var(--logo-size);
    height: var(--logo-size);
    border-radius: 50%;
    top: 2.5vh;
    left: 2.5vh;
    position: absolute;
}

body>header>address {
    position: absolute;
    right: 5vw;
    top: 0;
    color: #086D84;
}

body>main {
    position: relative;
    /*top: 15vh;*/
    left: 0;
    width: 100%;
    height: 100vh - var(--header-widh);
    /*overflow: scroll;*/
}

body>footer {
    position: inherit;
}

main>nav {
    background-color: var(--navegation-color);
    width: 100%;
    height: var(--navegation-widh);
    overflow: hidden;
    padding: 0;
    top: 0;
    left: 0;
    /*position: absolute;*/
}
main>nav>ul {
    list-style: none;
}

main>nav>ul>li {
    display: inline;
}

main>nav a {
    text-decoration: none;
    border: none;
    font-size: var(--button-font-size);
    padding: 6vh;
    padding-inline: 1vw;
    color: black;
}

.sub-menu-turno {
    position: absolute;
    height: 100%;
    width: 40%;
    right: 5vw;
    font-size: 0;
}

.sub-menu-turno>ul>li {
    display: inline;
}

.sub-menu-turno>ul {
    list-style: none;
    position: absolute;
    width: 50vw;
    top: 0;
}

@media (max-width: 768px) {
    body {
        position: relative;
    }

    body>header {
        width: 100%;
        background: var(--navegation-color);
        height: var(--navegation-widh);
        position: inherit;
    }

    body>header>a {
        background-size: var(--logo-size-movile)var(--logo-size-movile);
        width: var(--logo-size-movile);
        height: var(--logo-size-movile);
    }

    body>header>address {
        font-size: 0;
    }

    body>main>nav {
        display: none;
    }

    body>header>h1 {
        font-size: 3vh;
        top: 3vh;
        left: 15vw;
    }
}

footer {
    background-color: var(--navegation-color);
    position: relative;
    width: 100%;
    height: 10vh;
}