main>section {
    border-width: medium;
    background-color: var(--base-color);
    background-clip: content-box;
    box-shadow: inset 0 0 0 5vw white;
    padding: 5vw;
    border-radius: 10vw;
    position: relative;
}

main>section h2 {
    text-align:center;
}

main>section>form {
    padding: 4vw 10vw 0vw;
    position: relative;
}

main>section>form>fieldset {
    padding: 3vw;
    /*display: grid;*/
    /*grid-template-columns: 30% 70%;*/
    /*grid-template-areas:*/
    /*"label input"*/
    /*"label input";*/
    position: relative;
}

/*main>section>form>fieldset legend {*/
/*    position: absolute;*/
/*    width: 0;*/
/*    height: 0;*/
/*    font-size: 0;*/
/*}*/

main>section>form input {
    width: 100%;
    max-height: 3vh;
    background-color: var(--input-color);
    border-color: var(--input-color);
    color: var(--input-fonder-color);
    outline: 0;
    padding: var(--font-size);
}

main>section>form label {
    width: 100%;
    transform-origin: top left;
    transform: translate(0, 16px) scale(1);
    transition: all .1s ease-in-out;
}
main>section>form label {
     transform: translate(0, 4px) scale(.75);
 }

main>section>form select {
    width: 100%;
    max-height: 3vh;
    background-color: var(--input-color);
    border-color: var(--input-color);
    color: var(--input-fonder-color);
}

main>section>section {
    visibility: hidden;
}

main>section button {
    position: absolute;
    bottom: -25vh;
    padding: 1vw;
    border-width: 0;
    width: 20%;
    height: 5%;
}

.sucess {
    position: absolute;
    right: 10vw;
    background-color: var(--button-sucess-color);
}