{% extends "parts/commons.twig" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="css/home.css" />
    <script src="js/components/paw.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block main %}

    <nav id="site-nav">
        <ul id="menu">
            <li><a href="/">Home</a></li>
            <li><a href="institucional">Institucional</a></li>
            <li><a href="noticias">Noticias</a></li>
            <li><a href="obrasSociales">Obras sociales</a></li>
            <li><a href="profesionales">Profesionales</a></li>
            <li><a href="nuevoTurno">Sacar un turno</a></li>
            <li><a href="listaTurnos">Listados de turnos solicitados</a></li>
        </ul>
    </nav>
    <!-- Agregar imagen de casita-->
    <section>
        <aside class="content display-container" >
        </aside>
    </section>
    <!-- Agregar parte no genérica acá abajo-->
    <section>
        <h2>Noticias</h2>
        <section>
            <h3>Vacunación COVID 19</h3>
            <img class ="imagen">
            <p>La vacunación se llevará a cabo en etapas de acuerdo a los grupos establecidos y se realizará en forma gratuita, equitativa y voluntaria.
                <a href=""> Ver +</a>
            </p>
        </section>
        <section>
            <h3>Vacunación COVID 19</h3>
            <img class ="imagen">
            <p>La vacunación se llevará a cabo en etapas de acuerdo a los grupos establecidos y se realizará en forma gratuita, equitativa y voluntaria.
                <a href=""> Ver +</a>
            </p>
        </section>
        <section>
            <h3>Vacunación COVID 19</h3>
            <img class ="imagen">
            <p>La vacunación se llevará a cabo en etapas de acuerdo a los grupos establecidos y se realizará en forma gratuita, equitativa y voluntaria.
                <a href=""> Ver +</a>
            </p>
        </section>
    </section>
    <section class = "turnos">
        <h2>Turnos</h2>
        <a href="">Solicitar Turno</a>
        <a href="">Consultar Turno</a>
    </section>
    <section>
        <h2>Institución</h2>
        <p> Av. Corrientes 123
            Teléfono: 555-555-555
            Buenos Aires
        </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.6961681022844!2d-58.41029358481432!3d-34.586553680463986!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca82f25717f3%3A0xfd421006c97049e3!2sCl%C3%ADnica%20del%20Sol!5e0!3m2!1ses-419!2sar!4v1619047530733!5m2!1ses-419!2sar" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </section>
    </main>
{% endblock %}