{% extends "parts/commons.twig" %}

{% block main %}
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="institucional">Institucional</a></li>
            <li><a href="noticias">Noticias</a></li>
            <li><a href="obrasSociales">Obras sociales</a></li>
            <li><a href="profesionales">Profesionales</a></li>
            <li><a href="nuevoTurno">Sacar un turno</a></li>
            <li><a href="listaTurnos">Listados de turnos solicitados</a></li>
        </ul>
    </nav>
    <!-- Agregar imagen de casita-->
    <a href="/"></a>
    <!-- Agregar parte no genérica acá abajo-->
    <section>
        <h2>Obras sociales</h2>
        {% if data %}
            {% for obraSocial in data["obras_sociales"] %}
                <section>
                    <h3>{{ obraSocial["nombre"] }}</h3>
                    <p>Descripción, cobertura</p>
                </section>
            {% endfor %}
        {% endif %}
    </section>
{% endblock %}