<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Clinical</title>
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <link rel="stylesheet" type="text/css" href="css/home.css" />
    <link rel="stylesheet" type="text/css" href="css/turnoActual.css" />
    <script src="js/components/paw.js"></script>
    <script type="text/javascript" src="js/components/turnos.js"></script>   
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<header>
    <!-- Logo -->
    <a href="/"></a>
<!--    <img src="/resources/img/Logo.png" alt="Clinical" width="" height="">-->
    <address>Av. Corrientes 123  <small>Teléfono: 555-555-555</small></address>
    <h1>Clinical</h1>
    <button id="button-menu" class="PAW-Menu-Abrir"></button>    
</header>
<main>
    
    <nav id="site-nav">        
        <ul id="menu">
            <li><a href="/">Home</a></li>
            <li><a href="institucional">Institucional</a></li>
            <li><a href="noticias">Noticias</a></li>
            <li><a href="obrasSociales">Obras sociales</a></li>
            <li><a href="profesionales">Profesionales</a></li>
            <li><a href="nuevoTurno">Sacar un turno</a></li>
            <li><a href="listaTurnos">Listados de turnos solicitados</a></li>
        </ul>    	
    </nav>
    <!-- Agregar imagen de casita-->
    <a href="home"></a>
            <!-- Agregar parte no genérica acá abajo-->
            <h1>Turnos</h1>
            <section>
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Paciente</th>
                            <th scope="col">Consultorio</th>
                            <th scope="col">Horario</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Federico L</td>
                            <td>Consultorio 1</td>
                            <td>09:00</td>
                        </tr>
                        <tr>
                            <td>Federico Ledesma</td>
                            <td>Consultorio 1</td>
                            <td>09:00</td>
                        </tr>
                    </tbody>
                    <!-- estos datos van de ejemplo-->
                </table>
                <div id="miTurno" style="display: none;">4</div>
            </section>
        </main>
        <footer>
            <small>Contáctese con nosotros</small>
            <small>Legal</small>
        </footer>
    </body>
</html>